include ../positioner/positioner
include ../video/video
include ../marketplaces/marketplaces

mixin description
    +positioner('article').description
        +video.description__video
        +marketplaces.description__marketplaces