*, *::after, *::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    font-family: "Gilroy", sans-serif;
    color: black;
    background-color: #fff;
}