include ../svg-icon/svg-icon
include ../marketplaces-icons/marketplaces-icons
include ../button/button

mixin marketplaces
    section.marketplaces
        +marketplaces-icons.marketplaces__icons
        h1.marketplaces__title Все маркетплейсы <br>
            div в <span>одном</span> приложении
        p.marketplaces__text Мы объеденили не объеденяемое, чтобы вам было удобнее работать.
        +button('Подробнее', 'a href="#possibilities"').marketplaces__button
        a.marketpaces__price(href="#tariffs") Прайс-лист