.scroll {
    position: relative;
    bottom: -15px;
    left: 0;
    display: flex;
    width: 100px;
    height: 3px;
    background-color: #E2E4E8;

    @media screen and (min-width: 1024px) {
        display: none;
        background-color: transparent;
        width: 188px;
    }
}

.scroll__slider {
    position: absolute;
    width: 29px;
    height: 3px;
    background-color: #0F53FA;
    z-index: 1;

    @media screen and (min-width: 1024px) {
        display: none;
    }
}