include ../positioner/positioner
include ../accordion/accordion
include ../scroll/scroll

mixin possibilities
    section.possibilities#possibilities
        +positioner
            +title.possibilities__title Возможности
            .possibilities__wrapper
                picture.possibilities__container
                    source(srcset="/img/possibilities.jpg" media="(min-width: 1024px)").possibilities__image
                    img(src="/img/posibilities.jpg", alt="возможности").possibilities__image
                +accordion([{title: 'Все в одном месте', text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, reiciendis rem iure amet ducimus culpa eum a quo rerum ipsam, omnis dolore magnam quaerat quis saepe molestias maxime dicta pariatur.'},
                {title: 'Статусы', text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, reiciendis rem iure amet ducimus culpa eum a quo rerum ipsam, omnis dolore magnam quaerat quis saepe molestias maxime dicta pariatur.'},
                {title: 'Заказы', text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, reiciendis rem iure amet ducimus culpa eum a quo rerum ipsam, omnis dolore magnam quaerat quis saepe molestias maxime dicta pariatur.'},
                {title: 'Отгрузки', text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, reiciendis rem iure amet ducimus culpa eum a quo rerum ipsam, omnis dolore magnam quaerat quis saepe molestias maxime dicta pariatur.'},
                {title: 'Комиссии', text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, reiciendis rem iure amet ducimus culpa eum a quo rerum ipsam, omnis dolore magnam quaerat quis saepe molestias maxime dicta pariatur.'}]).possibilities__list
                +scroll