include ./icons/icon-logo
include ./icons/icon-pro
include ./icons/icon-bgc-video
include ./icons/icon-timer
include ./icons/icon-complete
include ./icons/icon-arrow
include ./icons/icon-time
include ./icons/icon-time-soon
include ./icons/icon-advantage


mixin svg-icon(name)
    - let fullName = `icon-${name}`;
    +#{fullName}