.marketplaces-icons {
    margin: 57px auto 0 auto;
}

.marketplaces-icon {
    margin-right: 12.5px;
    &:first-child {
        margin-right: 8px;
        margin-left: -8px;
    }
    &:last-child {
        margin-right: 0;
    }
}