mixin marketplaces-icons
    .marketplaces__icons
        a.marketplaces__icon.marketplaces__wildberries(href="#")
            img(src="/img/wildberries.png", alt="wildberries")
        a.marketplaces__icon.marketplaces__yandex(href="#")
            img(src="/img/yandex.png", alt="yandex")
        a.marketplaces__icon.marketplaces__ozon(href="#")
            img(src="/img/ozon.png", alt="ozon")