include ../positioner/positioner
include ../title/title
include ../svg-icon/svg-icon
include ../scroll/scroll

mixin reviews
    section.reviews
        +positioner
            .reviews__wrapper
                .reviews__like
                    +svg-icon('favourite')
                header.reviews__header
                    +title.reviews__title Отзывы
                    .reviews__buttons
                        .reviews__button.reviews__button_prev
                            +svg-icon('arrow')
                        .reviews__button.reviews__button_next
                            +svg-icon('arrow')
                ul.reviews__list
                    li.reviews__item
                        img(src="/img/ava-1.png", alt="аватарка").reviews__image
                        p.reviews__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus ridiculus id a fringilla fames enim.
                    li.reviews__item
                        img(src="/img/ava-2.png", alt="аватарка").reviews__image
                        p.reviews__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus ridiculus id a fringilla fames enim.
                    li.reviews__item
                        img(src="/img/ava-3.png", alt="аватарка").reviews__image
                        p.reviews__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus ridiculus id a fringilla fames enim.
                    li.reviews__item
                        img(src="/img/ava-4.png", alt="аватарка").reviews__image
                        p.reviews__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus ridiculus id a fringilla fames enim.
                +scroll({desktop: true, pages: 4})
