$bgc: #E9F7FE;

.reviews {
    background-color: $bgc;
    padding: 56px 0;
    overflow-x: hidden;
}

.reviews__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.reviews__like {
    margin-bottom: 32px;
}

.reviews__header {
    display: flex;
    justify-content: space-between;
}

.reviews__buttons {
    display: none;
    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
    }
}

.reviews__button {
    cursor: pointer;

    &:last-child {
        margin-left: 42px;
        transform: rotate(180deg);
        margin-top: -8px;
    }
}

.reviews__list {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    margin-left: -6.6%;
    padding-left: 6.6%;
    overflow-x: scroll;
    transition: margin 0.5s ease;

    @media screen and (min-width: 1024px) {
        overflow-x: visible;
    }
}

.reviews__item {
    list-style-type: none;
    width: 160%;
    min-width: 258px;
    padding: 27px;
    margin-right: 16px;
    background-color: #fff;
    border-radius: 10px;
}