include ../components/page/page
include ../components/description/description
include ../components/statistics/statistics
include ../components/updates/updates
include ../components/consultation/consultation
include ../components/possibilities/possibilities
include ../components/advantages/advantages
include ../components/acceleration/acceleration
include ../components/dropshipping/dropshipping
include ../components/analytics/analytics
include ../components/reviews/reviews
include ../components/unloading/unloading
include ../components/partners/partners
include ../components/tariffs/tariffs
include ../components/settings/settings
include ../components/follow/follow
include ../components/confidence/confidence
include ../components/questions/questions

+page('Topseller')
    +description
    +statistics
    +updates
    +consultation
    +possibilities
    +advantages
    +acceleration
    +consultation({reverse: true})
    +dropshipping
    +analytics
    +reviews
    +unloading
    +partners
    +tariffs
    +settings
    +follow
    +confidence
    +questions