include ../components/page/page
include ../components/description/description
include ../components/statistics/statistics
include ../components/updates/updates
include ../components/consultation/consultation

+page('Главная')
    +description
    +statistics
    +updates
    +consultation