mixin icon-timer
    <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M9 11H8.5V9.3635C8.5 8.5495 8.1535 7.7705 7.5485 7.2265L6.702 6.465C6.5685 6.3445 6.495 6.1795 6.495 6C6.495 5.8205 6.5685 5.6555 6.702 5.5355L7.5485 4.774C8.1535 4.229 8.5 3.4505 8.5 2.6365V1H9C9.2765 1 9.5 0.776 9.5 0.5C9.5 0.224 9.2765 0 9 0H1C0.7235 0 0.5 0.224 0.5 0.5C0.5 0.776 0.7235 1 1 1H1.5V2.6365C1.5 3.4505 1.8465 4.2295 2.4515 4.7735L3.298 5.535C3.4315 5.6555 3.505 5.8205 3.505 6C3.505 6.1795 3.4315 6.3445 3.298 6.4645L2.4515 7.226C1.8465 7.771 1.5 8.5495 1.5 9.3635V11H1C0.7235 11 0.5 11.224 0.5 11.5C0.5 11.776 0.7235 12 1 12H9C9.2765 12 9.5 11.776 9.5 11.5C9.5 11.224 9.2765 11 9 11ZM3 9.4145C3 9.047 3.143 8.702 3.403 8.442L4.735 7.11C4.8815 6.9635 5.119 6.9635 5.2655 7.11L6.5975 8.442C6.8575 8.702 7.0005 9.047 7.0005 9.4145V11H3V9.4145Z" fill="#8C97AC"/>
    </svg>
