mixin icon-wildberries
    <svg width="51" height="38" viewBox="0 0 51 38" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="7" width="37.5963" height="37.5963" rx="10" fill="#DA1F80"/>
    <g filter="url(#filter0_d)">
    <path d="M15.4456 17.3634L14.527 20.2331H13.8291L13.2114 18.2899L12.5736 20.2331H11.8796L10.957 17.3634H11.6309L12.2647 19.3804L12.9266 17.3634H13.5282L14.17 19.3968L14.8239 17.3634H15.4456Z" fill="white"/>
    <path d="M15.8084 17.3634H16.4582V20.2331H15.8084V17.3634Z" fill="white"/>
    <path d="M17.1246 17.3634H17.7744V19.692H19.1823V20.2331H17.1246V17.3634Z" fill="white"/>
    <path d="M19.5454 17.3634H20.821C21.1259 17.3634 21.3946 17.4235 21.6273 17.5438C21.8626 17.6613 22.0444 17.828 22.1728 18.0439C22.3038 18.2599 22.3693 18.5113 22.3693 18.7983C22.3693 19.0852 22.3038 19.3367 22.1728 19.5526C22.0444 19.7685 21.8626 19.9366 21.6273 20.0569C21.3946 20.1744 21.1259 20.2331 20.821 20.2331H19.5454V17.3634ZM20.7889 19.6879C21.0697 19.6879 21.293 19.6086 21.4588 19.4501C21.6273 19.2889 21.7115 19.0716 21.7115 18.7983C21.7115 18.525 21.6273 18.3091 21.4588 18.1505C21.293 17.9893 21.0697 17.9087 20.7889 17.9087H20.1952V19.6879H20.7889Z" fill="white"/>
    <path d="M24.9212 18.7409C25.0816 18.7928 25.2073 18.8803 25.2982 19.0033C25.3892 19.1235 25.4346 19.2725 25.4346 19.4501C25.4346 19.7016 25.3384 19.8956 25.1458 20.0323C24.956 20.1662 24.6778 20.2331 24.3115 20.2331H22.8594V17.3634H24.2313C24.5735 17.3634 24.8356 17.4304 25.0175 17.5643C25.202 17.6982 25.2942 17.88 25.2942 18.1095C25.2942 18.2489 25.2608 18.3733 25.194 18.4826C25.1298 18.5919 25.0388 18.678 24.9212 18.7409ZM23.5052 17.8636V18.54H24.151C24.3115 18.54 24.4332 18.5113 24.5161 18.4539C24.599 18.3965 24.6404 18.3118 24.6404 18.1997C24.6404 18.0877 24.599 18.0043 24.5161 17.9497C24.4332 17.8923 24.3115 17.8636 24.151 17.8636H23.5052ZM24.2633 19.733C24.4345 19.733 24.5628 19.7043 24.6484 19.6469C24.7367 19.5895 24.7808 19.5007 24.7808 19.3804C24.7808 19.1426 24.6083 19.0238 24.2633 19.0238H23.5052V19.733H24.2633Z" fill="white"/>
    <path d="M28.1007 19.7002V20.2331H25.9266V17.3634H28.0485V17.8964H26.5724V18.5195H27.8761V19.0361H26.5724V19.7002H28.1007Z" fill="white"/>
    <path d="M30.4068 20.2331L29.8652 19.4337H29.2676V20.2331H28.6177V17.3634H29.8331C30.0818 17.3634 30.2971 17.4058 30.479 17.4905C30.6635 17.5752 30.8052 17.6955 30.9042 17.8513C31.0031 18.007 31.0526 18.1915 31.0526 18.4047C31.0526 18.6179 31.0018 18.8024 30.9001 18.9582C30.8012 19.1112 30.6595 19.2287 30.4749 19.3107L31.1047 20.2331H30.4068ZM30.3947 18.4047C30.3947 18.2435 30.3439 18.1205 30.2423 18.0357C30.1407 17.9483 29.9923 17.9046 29.797 17.9046H29.2676V18.9049H29.797C29.9923 18.9049 30.1407 18.8611 30.2423 18.7737C30.3439 18.6862 30.3947 18.5632 30.3947 18.4047Z" fill="white"/>
    <path d="M33.3564 20.2331L32.8149 19.4337H32.2172V20.2331H31.5674V17.3634H32.7828C33.0315 17.3634 33.2468 17.4058 33.4286 17.4905C33.6132 17.5752 33.7549 17.6955 33.8538 17.8513C33.9528 18.007 34.0022 18.1915 34.0022 18.4047C34.0022 18.6179 33.9514 18.8024 33.8498 18.9582C33.7509 19.1112 33.6091 19.2287 33.4246 19.3107L34.0544 20.2331H33.3564ZM33.3444 18.4047C33.3444 18.2435 33.2936 18.1205 33.192 18.0357C33.0904 17.9483 32.9419 17.9046 32.7467 17.9046H32.2172V18.9049H32.7467C32.9419 18.9049 33.0904 18.8611 33.192 18.7737C33.2936 18.6862 33.3444 18.5632 33.3444 18.4047Z" fill="white"/>
    <path d="M34.5171 17.3634H35.1669V20.2331H34.5171V17.3634Z" fill="white"/>
    <path d="M38.0074 19.7002V20.2331H35.8333V17.3634H37.9552V17.8964H36.4791V18.5195H37.7828V19.0361H36.4791V19.7002H38.0074Z" fill="white"/>
    <path d="M39.447 20.2823C39.2251 20.2823 39.0098 20.2523 38.8012 20.1921C38.5953 20.1293 38.4295 20.0487 38.3038 19.9503L38.5244 19.4501C38.6448 19.5403 38.7878 19.6127 38.9536 19.6674C39.1194 19.7221 39.2852 19.7494 39.451 19.7494C39.6355 19.7494 39.7719 19.7221 39.8602 19.6674C39.9484 19.61 39.9925 19.5348 39.9925 19.4419C39.9925 19.3736 39.9658 19.3176 39.9123 19.2738C39.8615 19.2274 39.7947 19.1905 39.7118 19.1631C39.6315 19.1358 39.5219 19.1057 39.3828 19.073C39.1689 19.021 38.9937 18.9691 38.8574 18.9172C38.721 18.8652 38.6033 18.7819 38.5044 18.6671C38.4081 18.5523 38.36 18.3992 38.36 18.2079C38.36 18.0412 38.4041 17.8909 38.4923 17.757C38.5806 17.6203 38.7129 17.5124 38.8894 17.4331C39.0686 17.3538 39.2866 17.3142 39.5433 17.3142C39.7225 17.3142 39.8976 17.3361 40.0688 17.3798C40.2399 17.4235 40.3897 17.4864 40.518 17.5684L40.3175 18.0726C40.0581 17.9223 39.7987 17.8472 39.5393 17.8472C39.3574 17.8472 39.2224 17.8772 39.1341 17.9374C39.0486 17.9975 39.0058 18.0767 39.0058 18.1751C39.0058 18.2735 39.0552 18.3473 39.1542 18.3965C39.2558 18.443 39.4096 18.4894 39.6155 18.5359C39.8294 18.5878 40.0046 18.6398 40.141 18.6917C40.2773 18.7436 40.3937 18.8256 40.4899 18.9377C40.5889 19.0497 40.6383 19.2014 40.6383 19.3927C40.6383 19.5567 40.5929 19.707 40.502 19.8437C40.4137 19.9776 40.28 20.0842 40.1008 20.1635C39.9217 20.2427 39.7037 20.2823 39.447 20.2823Z" fill="white"/>
    </g>
    <defs>
    <filter id="filter0_d" x="0.957031" y="10.3142" width="49.6813" height="22.9681" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
    <feOffset dy="3"/>
    <feGaussianBlur stdDeviation="5"/>
    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0.168627 0 0 0 0 0.6 0 0 0 0.3 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
    </filter>
    </defs>
    </svg>
