mixin icon-favourite
    <svg width="38" height="34" viewBox="0 0 38 34" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M34.8587 3.452C30.671 -0.630711 23.8557 -0.630711 19.6671 3.452C19.4349 3.67837 19.2127 3.91682 19.0003 4.16655C18.7879 3.91601 18.5657 3.67837 18.3327 3.45119C14.145 -0.631517 7.32961 -0.631517 3.14109 3.45119C-1.04744 7.5339 -1.04662 14.1784 3.14109 18.2619L18.4153 33.1531C18.5764 33.3102 18.788 33.3892 18.9995 33.3892C19.211 33.3892 19.4226 33.3102 19.5837 33.1531L34.8579 18.2619C39.0472 14.1792 39.0472 7.5347 34.8587 3.452Z" fill="#0F53FA"/>
    </svg>
