mixin icon-play
    <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M19.9819 14.805L13.7419 10.269C13.5129 10.103 13.2089 10.078 12.9579 10.207C12.7049 10.335 12.5469 10.595 12.5469 10.876V19.945C12.5469 20.229 12.7049 20.488 12.9579 20.616C13.0649 20.67 13.1819 20.697 13.2999 20.697C13.4539 20.697 13.6099 20.648 13.7419 20.551L19.9819 16.019C20.1789 15.874 20.2939 15.65 20.2939 15.412C20.2949 15.17 20.1769 14.947 19.9819 14.805Z" fill="#FF2B99"/>
    <path d="M15.026 0.369141C6.726 0.369141 0 7.09514 0 15.3951C0 23.6921 6.726 30.4161 15.026 30.4161C23.324 30.4161 30.051 23.6911 30.051 15.3951C30.052 7.09514 23.324 0.369141 15.026 0.369141ZM15.026 27.9091C8.114 27.9091 2.51 22.3081 2.51 15.3951C2.51 8.48514 8.114 2.87714 15.026 2.87714C21.937 2.87714 27.54 8.48414 27.54 15.3951C27.541 22.3081 21.937 27.9091 15.026 27.9091Z" fill="#FF2B99"/>
    </svg>
