$bgc: #E9F7FE;
$primary: #0F53FA;

.partners {
    background-color: $bgc;
    padding: 56px 0;
    overflow-x: hidden;
}

.partners__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.partners__header {
    display: flex;
    justify-content: space-between;
}

.partners__buttons {
    display: none;
    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
    }
}

.partners__button {
    cursor: pointer;

    &:last-child {
        margin-left: 42px;
        transform: rotate(180deg);
        margin-top: -8px;
    }
}

.partners__list {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    padding-top: 70px;
    margin-top: 0;
    margin-left: -6.6%;
    padding-left: 6.6%;
    overflow-x: scroll;
    transition: margin 0.5s ease;

    @media screen and (min-width: 1024px) {
        overflow-x: visible;
    }
}

.partners__item {
    position: relative;
    list-style-type: none;
    width: 170%;
    min-width: 258px;
    padding: 27px;
    margin-right: 16px;
    background-color: #fff;
    border-radius: 10px;

    @media screen and (min-width: 1024px) {
        min-width: 396px;
    }
}

.partners__image {
    position: absolute;
    top: -62px;
    left: 23px;
}

.partners__link {
    color: $primary;
    text-decoration: none;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.partners__pages {
    position: relative;
    bottom: -15px;
    left: 0;
    display: flex;
    width: 100px;
    height: 3px;
    background-color: #E2E4E8;

    @media screen and (min-width: 1024px) {
        background-color: transparent;
        width: 188px;
    }
}

.partners__slider {
    position: absolute;
    width: 29px;
    height: 3px;
    background-color: $primary;
    z-index: 1;

    @media screen and (min-width: 1024px) {
        display: none;
    }
}

.partners__page {
    display: none;
    width: 29px;
    height: 3px;
    margin-right: 16px;
    border-radius: 2px;
    background-color: #E2E4E8;

    @media screen and (min-width: 1024px) {
        display: block;
        transition: all 0.5s ease;
    }
}

.partners__page_current {
    background-color: $primary;
}