$bgc: #696FFB;
$text: #1D293F;

.questions {
    padding: 56px 0;
    background-color: $bgc;
    color: white;
    text-align: center;

    @media screen and (min-width: 1200px) {
        padding: 88px 0;
    }
}

.questions__title {
    margin-bottom: 32px;
}

.questions__text {
    margin-bottom: 48px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.questions__button {
    color: $bgc;
    background-color: white;
    box-shadow: 0px 32px 84px rgba(0, 0, 0, 0.21725);
    border-radius: 8px;

    @media screen and (min-width: 768px) {
        width: 251px;
        margin-left: auto;
        margin-right: auto;
    }
}

.questions__form-wrapper,
.questions__complete-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: $text;
    z-index: 2;

    .positioner {
        @media screen and (min-width: 1024px) {
            position: relative;
        }
    }
}

.questions__complete-wrapper .positioner {
    padding-top: 150px;
}

.questions__form-wrapper_open,
.questions__complete-wrapper_open {
    display: block;
}

.questions__form-wrapper_open {
    @media screen and (min-width: 1024px) {
        background-color: $bgc;
        color: #fff;

        .positioner {
            margin-top: 160px;
        }
    }
}

.questions__close {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media screen and (min-width: 1024px) {
        top: 0;
        right: 100px;

        &::after {
            position: absolute;
            top: 3px;
            left: 40px;
            color: white;
            font-size: 18px;
            content: 'Закрыть';
        }

        svg path {
            stroke: white;
        }
    }
}

.questions__marketplaces {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    margin-top: 44px;

    @media screen and (min-width: 1024px) {
        display: flex;
        margin-left: 34px;
    }
}

.questions__radio {
    display: none;

    &:checked + .questions__label::before {
        background-color: $bgc;

        @media screen and (min-width: 1024px) {
            background-color: darken($bgc, 5%);
        }
    }

    &:checked + .questions__label::after {
        position: absolute;
        top: 4px;
        left: -22px;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 55%;
        content: '';
    }

    &:checked + .questions__politics::after {
        width: 11px;
        top: 16px;
        left: 5.5px;

        @media screen and (min-width: 768px) {
            top: 6px;
            left: 5.7px;
        }
    }
}

.questions__label {
    position: relative;
    margin-right: 34px;
    cursor: pointer;

    @media screen and (min-width: 1024px) {
        margin-right: 72px;
    }

    &::before {
        position: absolute;
        top: -2px;
        left: -28px;
        height: 22px;
        width: 22px;
        background-color: #E9F7FE;
        border-radius: 50%;
        content: '';
    }

    &:last-child {
        margin-right: 0;
    }
}

.questions__inputs {
    @media screen and (min-width: 1024px) {
        display: flex;
    }
}

.questions__input,
.questions__textarea {
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;

    @media screen and (min-width: 1024px) {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;

        &::-webkit-input-placeholder {
            color: #fff;
        }
    }
}

.questions__textarea {
    @media screen and (min-width: 1024px) {
        height: 200px;
    }
}

.questions__input {
    @media screen and (min-width: 1024px) {
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.questions__send {
    text-align: left;

    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
    }

    span {
        font-weight: bold;
    }
}

.questions__politics {
    position: relative;
    display: inline-block;
    padding-left: 40px;

    &::before {
        position: absolute;
        top: 10px;
        left: 0px;
        height: 22px;
        width: 22px;
        background-color: #E9F7FE;
        border-radius: 50%;
        content: '';

        @media screen and (min-width: 768px) {
            top: 0;
        }
    }
}

.questions__button-complete,
.questions__button-send {
    width: 251px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    background-color: $bgc;
    color: white;

    @media screen and (min-width: 1024px) {
        margin-top: 0;
        margin-right: 0;
        background-color: #fff;
        color: $bgc;
    }
}

.questions__button-complete {
    @media screen and (min-width: 1024px) {
        margin-right: auto;
        background-color: $bgc;
        color: white;
    }
}