$bgc: #696FFB;
$text: #1D293F;

.questions {
    padding: 56px 0;
    background-color: $bgc;
    color: white;
    text-align: center;

    @media screen and (min-width: 1200px) {
        padding: 88px 0;
    }
}

.questions__title {
    margin-bottom: 32px;
}

.questions__text {
    margin-bottom: 48px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.questions__button {
    color: $bgc;
    background-color: white;
    box-shadow: 0px 32px 84px rgba(0, 0, 0, 0.21725);
    border-radius: 8px;

    @media screen and (min-width: 768px) {
        width: 251px;
        margin-left: auto;
        margin-right: auto;
    }
}