include ../positioner/positioner
include ../title/title
include ../button/button
include ../svg-icon/svg-icon

mixin questions
    section.questions
        +positioner
            .questions__wrapper
                +title('Остались вопросы?').questions__title
                p.questions__text Наши специалисты ответят на любой интересубщий вопрос
                +button('Задать вопрос').questions__button
            .questions__form-wrapper
                +positioner
                    button.questions__close
                        +svg-icon('close')
                    form(action="#" name="question").questions__form
                        .questions__marketplaces
                            input(type="radio" id="marketplace-ozon" name="radio-marketplaces").questions__radio
                            label(for="marketplace-ozon").questions__label OZON
                            input(type="radio" id="marketplace-wilberries" name="radio-marketplaces").questions__radio
                            label(for="marketplace-wilberries").questions__label Wildberries
                            input(type="radio" id="marketplace-yandex" name="radio-marketplaces").questions__radio
                            label(for="marketplace-yandex").questions__label Yandex
                        .questions__inputs
                            input(type="text" name="name" placeholder="Имя").questions__input
                            input(type="email" name="email" placeholder="Email").questions__input
                            input(type="tel" name="tel" placeholder="Телефон").questions__input
                        textarea(name="question", cols="30", rows="4" placeholder="Ваш вопрос").questions__textarea
                        .questions__send
                            input(type="radio" name="politics" id="politics").questions__radio
                            label(for="politics").questions__label.questions__politics Ознакомлен с <span> Политикой конфиденциальности </span>
                            input(type="submit" value="Отправить").button.questions__button.questions__button-send
            .questions__complete-wrapper
                +positioner
                    +title('Ваш вопрос отправлен').questions__title
                    p.questions__text В ближайшее время с вами свяжится наши специалисты
                    +button('Хорошо').questions__button.questions__button-complete