include ../positioner/positioner
include ../title/title
include ../button/button
include ../radio/radio
include ../svg-icon/svg-icon
include ../text-field/text-field

mixin question-form(options)
    - let background = `question-form_${options.color}`;
    section.question-form(class=background)
        .question-form__form-wrapper
            button.question-form__close
                +svg-icon('close')
            form(action="#" name="question").question-form__form
                .question-form__marketplaces
                    +radio('marketplace')
                        | OZON
                    +radio('marketplace')
                        | Wildberries
                    +radio('marketplace')
                        | Yandex
                .question-form__inputs
                    +text-field({name: 'name', placeholder: 'Имя', required: true}).question-form__input
                    +text-field({name: 'email', placeholder: 'Email', required: true}).question-form__input
                    +text-field({name: 'tel', placeholder: 'Телефон', required: true}).question-form__input
                textarea(name=options.name, cols="30", rows="4" placeholder="Ваш вопрос").question-form__textarea
                .question-form__send
                    +radio('politics')
                        | Ознакомлен с <span> Политикой конфиденциальности </span>
                    input(type="submit" value="Отправить").button.question-form__button.question-form__button-send
        .question-form__complete-wrapper
            +positioner
                +title.question-form__title Ваш вопрос отправлен
                p.question-form__text В ближайшее время с вами свяжутся наши специалисты
                +button.question-form__button.question-form__button-complete Хорошо