include ../positioner/positioner
include ../title/title
include ../button/button
include ../radio/radio
include ../svg-icon/svg-icon

mixin question-form(bgc = 'white')
    - let background = `question-form_${bgc}`;
    section.question-form(class=background)
        .question-form__form-wrapper
            button.question-form__close
                +svg-icon('close')
            form(action="#" name="question").question-form__form
                .question-form__marketplaces
                    +radio('marketplace')
                        | OZON
                    +radio('marketplace')
                        | Wildberries
                    +radio('marketplace')
                        | Yandex
                .question-form__inputs
                    input(type="text" name="name" placeholder="Имя" required).question-form__input
                    input(type="email" name="email" placeholder="Email" required).question-form__input
                    input(type="tel" name="tel" placeholder="Телефон" required).question-form__input
                textarea(name="question", cols="30", rows="4" placeholder="Ваш вопрос").question-form__textarea
                .question-form__send
                    +radio('politics')
                        | Ознакомлен с <span> Политикой конфиденциальности </span>
                    input(type="submit" value="Отправить").button.question-form__button.question-form__button-send
        .question-form__complete-wrapper
            +positioner
                +title('Ваш вопрос отправлен').question-form__title
                p.question-form__text В ближайшее время с вами свяжится наши специалисты
                +button('Хорошо').question-form__button.question-form__button-complete