include ../header/header
//- include ../footer/footer

mixin page(title)
    doctype html
    html
        head(lang="ru")
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1")
            link(rel="stylesheet", href="/fonts/gilroy/stylesheet.css")
            title #{title}
        body
            +header
            main
                block