include ../positioner/positioner
include ../title/title
include ../button/button
include ../question-form/question-form

mixin consultation(reverse)
    section.consultation
        +positioner
            if (reverse === 'reverse') 
                - let = reverse = 'consultation__wrapper_reverse'
            .consultation__wrapper(class=reverse)
                .consultation__icons
                    .consultation__question ?
                    .consultation__answer !
                .consultation__content
                    +title('Нужна консультация?').consultation__title
                    p.consultation__text Наши специалисты ответят на любой интересующий вопрос
                    +button('Задать вопрос').consultation__button.button
            +question-form({name: 'question', color: 'white', textarea: true})
