include ../positioner/positioner
include ../title/title
include ../button/button
include ../question-form/question-form

mixin consultation(options = {})
    section.consultation
        +positioner
            - let reverse = options.reverse? 'consultation__wrapper_reverse' : null;
            .consultation__wrapper(class=reverse)
                .consultation__icons
                    .consultation__question ?
                    .consultation__answer !
                .consultation__content
                    +title.consultation__title Нужна консультация?
                    p.consultation__text Наши специалисты ответят на любой интересующий вопрос
                    +button.consultation__button.button Задать вопрос
            +question-form({name: 'question', color: 'white', textarea: true})
