include ../positioner/positioner
include ../title/title
include ../button/button

mixin consultation(reverse)
    +positioner('section').consultation(class=reverse)
        .consultation__icons
            .consultation__question ?
            .consultation__answer !
        .consultation__content
            +title('Нужна консультация?').consultation__title
            p.consultation__text Наши специалисты ответят на любой интересующий вопрос
            +button('Задать вопрос', 'a').consultation__button(href='#')
