$bgc: #E9F7FE;

.footer {
    padding: 56px 0;
    background-color: $bgc;
}

.footer__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

.footer__container {
    display: flex;
    flex-direction: column;
}

.footer__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    flex-grow: 1;

    &:first-of-type {
        flex-grow: 21;
        order: 3;
    }
}

.footer__link {
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 12px;
}