include ../svg-icon/svg-icon
include ../navigation/navigation
include ../positioner/positioner

mixin header
    header.header
        button.header__burger
            .header__line
        a.header__logo(href="#")
            +svg-icon('logo')
        +navigation.header__navigation
        a.header__logo_pro(href="#")
            +svg-icon('pro').header__logo_pro