include ../positioner/positioner
include ../marketplaces-icons/marketplaces-icons

mixin dropshipping
    section.dropshipping
        +positioner
            .dropshipping__wrapper
                h2.dropshipping__title Дропшиппинг
                p.dropshipping__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate nec sed nunc tortor molestie tortor, nunc nec viverra. Tellus consectetur sapien ut velit orci enim.
                .dropshipping__container
                    .dropshipping__numbers
                        .dropshipping__number №1
                        .dropshipping__number №2
                        .dropshipping__number №3
                        .dropshipping__number №4
                    .dropshipping__leftovers Остатки
                    .dropshipping__multistore
                        .dropshipping__container-text
                            p.dropshipping__name Мультисклад
                            p.dropshipping__mystore Мой Склад + TOPSE11ER
                        ul.dropshipping__list
                            li.dropshipping__item
                                .dropshipping__box
                                .dropshipping__box
                                span.dropshipping__num 10
                            li.dropshipping__item
                                .dropshipping__box
                                .dropshipping__box
                                span.dropshipping__num 22
                            li.dropshipping__item
                                .dropshipping__box
                                .dropshipping__box
                                span.dropshipping__num 100
                            li.dropshipping__item
                                .dropshipping__box
                                .dropshipping__box
                                span.dropshipping__num 96
                            li.dropshipping__item.dropshipping__item_desk
                                .dropshipping__box
                                .dropshipping__box
                                span.dropshipping__num 16
                            li.dropshipping__item.dropshipping__item_desk
                                .dropshipping__box
                                .dropshipping__box
                                span.dropshipping__num 39
                    .dropshipping__leftovers Остатки
                    .dropshipping__marketplaces
                        +marketplaces-icons('_large').dropshipping__marketplaces-icons