include ../positioner/positioner
include ../title/title
include ../button/button
include ../radio/radio
include ../text-field/text-field
include ../svg-icon/svg-icon

mixin tariffs-form(options)
    - let background = `form_${options.color}`;
    section.tariffs-form
        +positioner
            .tariffs-form__form-wrapper
                h2.tariffs-form__main-title #{options.title}
                button.tariffs-form__close
                    +svg-icon('close')
                form(action="#" name=options.name).tariffs-form__form
                    .tariffs-form__marketplaces
                        +radio('marketplace')
                            | OZON
                        +radio('marketplace')
                            | Wildberries
                        +radio('marketplace')
                            | Yandex
                    .tariffs-form__inputs
                        +text-field({name: 'name', placeholder: 'Имя', required: true}).tariffs-form__input
                        +text-field({name: 'email', placeholder: 'Email', required: true}).tariffs-form__input
                        +text-field({name: 'tel', placeholder: 'Телефон', required: true}).tariffs-form__input
                        +button.button.tariffs-form__button.tariffs-form__button-send Отправить заявку
                    .tariffs-form__politics
                        +radio('politics')
                            | Ознакомлен с <span> Политикой конфиденциальности </span>
            .tariffs-form__complete-wrapper
                +positioner
                    +title.tariffs-form__title Заявка отправлена
                    p.tariffs-form__text Вы молодец
                    +button.tariffs-form__button.tariffs-form__button-complete Хорошо