include ../positioner/positioner

mixin statistics
    article.statistics
        +positioner.statistics__container
            dl.statistics__cell
                dt.span.statistics__number 100k
                dd.statistics__text Регистраций в системе за 2021 год
            dl.statistics__cell
                dt.span.statistics__number 3.6k
                dd.statistics__text Количество новых товаров ежедневно
            dl.statistics__cell
                dt.span.statistics__number 99%
                dd.statistics__text Довольных клиентов нашей платформы
            dl.statistics__cell
                dt.span.statistics__number 456k
                dd.statistics__text Количество новых товаров ежедневно
