.header {
  display: flex;
  padding: 35px 0;
}
@media screen and (min-width: 640px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
}

.header__logo {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 640px) {
  .header__logo {
    margin: 0;
  }
}

.header__logo_pro {
  display: none;
  text-decoration: none;
  margin-top: auto;
}
@media screen and (min-width: 1024px) {
  .header__logo_pro {
    display: block;
    margin-top: 7px;
  }
}

.header__burger {
  position: absolute;
  width: 38px;
  height: 22px;
  background-color: white;
  vertical-align: top;
  border: none;
  outline: none;
}
@media screen and (min-width: 640px) {
  .header__burger {
    display: none;
  }
}

.header__line {
  position: absolute;
  top: 2px;
  left: 0;
  width: 38px;
  height: 2px;
  background-color: #696FFB;
}
.header__line::before, .header__line::after {
  position: absolute;
  top: 10px;
  left: 0;
  width: 38px;
  height: 2px;
  background-color: inherit;
  content: "";
}
.header__line::after {
  top: 20px;
  width: 25px;
}
.navigation {
  position: fixed;
  top: 0;
  left: -100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 220px;
  padding: 60px 10% 0 20px;
  background-color: #696FFB;
  transition: left 0.5s ease;
  z-index: 2;
}

@media screen and (min-width: 640px) {
  .navigation {
    position: relative;
    left: 0;
    display: inline-block;
    width: 80%;
    padding: 0;
    background-color: transparent;
    text-align: center;
  }
}
@media screen and (min-width: 810px) {
  .navigation {
    width: 60%;
  }
}
.navigation__close {
  background-color: transparent;
  border: none;
  outline: none;
  height: 0;
  width: 0;
}

.navigation__close::before,
.navigation__close::after {
  position: absolute;
  top: 10px;
  left: 20px;
  transform: rotate(45deg);
  font-size: 20px;
  color: #fff;
  content: "|";
}

.navigation__close::after {
  left: 18px;
  transform: rotate(-45deg);
}

@media screen and (min-width: 640px) {
  .navigation__close::before,
.navigation__close::after {
    display: none;
  }
}
.navigation_open {
  left: 0;
}

.navigation__link {
  display: block;
  margin: 15px 0;
  text-decoration: none;
  color: #fff;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .navigation__link {
    display: inline-block;
    width: auto;
    margin: 4px 0;
    margin-right: 7%;
    color: #000;
  }
  .navigation__link:last-child {
    margin-right: 0;
  }
  .navigation__link:hover {
    color: #373ffa;
  }
}
.navigation__contacts {
  display: block;
  margin-top: auto;
}

@media screen and (min-width: 640px) {
  .navigation__contacts {
    display: none;
  }
}
.video {
  position: relative;
  display: block;
  box-shadow: 0px 15px 30px rgba(65, 74, 85, 0.1);
  background: linear-gradient(90deg, #D0F4FF -1.26%, #EDE1FF 104.19%);
  border-radius: 10px;
  aspect-ratio: 4/3;
  z-index: 1;
}
.video:hover .video__play {
  display: block;
}

.video_active {
  aspect-ratio: auto;
}
.video_active .video__information,
.video_active .video__play {
  display: none;
}
.video_active .video__player {
  display: block;
}

.video__player {
  display: none;
  width: 100%;
}

.video__play {
  position: absolute;
  top: calc(50% - 32.5px);
  left: calc(50% - 32.5px);
  height: 65px;
  width: 65px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  border: none;
}
.video__play::after {
  position: absolute;
  top: 18.5px;
  left: 26.5px;
  border-top: 15px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid white;
  content: "";
}
.video__play:hover {
  cursor: pointer;
}
@media screen and (min-width: 375px) {
  .video__play {
    top: calc(50% - 40px);
  }
}
@media screen and (min-width: 425px) {
  .video__play {
    top: calc(50% - 32.5px);
  }
}
@media screen and (min-width: 768px) {
  .video__play {
    width: 80px;
    height: 80px;
  }
  .video__play::after {
    top: 21px;
    left: 32px;
    border-top: 20px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 24px solid white;
  }
}

.video p {
  margin: 0;
  margin-top: 4px;
  padding: 0;
}

.video__information {
  position: absolute;
  bottom: 9px;
  left: 9px;
  display: none;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  height: 59px;
  margin-left: 9px;
  margin-bottom: 11px;
  padding-left: 11px;
  padding-top: 8px;
  padding-bottom: 11px;
  padding-right: 11px;
  color: white;
  font-weight: bold;
}
@media screen and (min-width: 375px) {
  .video__information {
    display: block;
  }
}
@media screen and (min-width: 425px) {
  .video__information {
    width: auto;
  }
}

.video__name {
  font-size: 16px;
}

.video__time {
  font-size: 12px;
}

