.header {
  display: flex;
  padding: 35px 24px;
}
@media screen and (min-width: 640px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 35px 32px;
  }
}

.header__logo {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 640px) {
  .header__logo {
    margin: 0;
  }
}

.header__logo_pro {
  display: none;
  text-decoration: none;
  margin-top: auto;
}
@media screen and (min-width: 1024px) {
  .header__logo_pro {
    display: block;
    margin-top: 7px;
  }
}

.header__burger {
  position: absolute;
  width: 38px;
  height: 22px;
  background-color: white;
  vertical-align: top;
  border: none;
  outline: none;
}
@media screen and (min-width: 640px) {
  .header__burger {
    display: none;
  }
}

.header__line {
  position: absolute;
  top: 2px;
  left: 0;
  width: 38px;
  height: 2px;
  background-color: #696FFB;
}
.header__line::before, .header__line::after {
  position: absolute;
  top: 10px;
  left: 0;
  width: 38px;
  height: 2px;
  background-color: inherit;
  content: "";
}
.header__line::after {
  top: 20px;
  width: 25px;
}
.navigation {
  position: fixed;
  top: 0;
  left: -100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 220px;
  padding: 60px 10% 0 20px;
  background-color: #696FFB;
  transition: left 0.5s ease;
  z-index: 2;
}

@media screen and (min-width: 640px) {
  .navigation {
    position: relative;
    left: 0;
    display: inline-block;
    width: 80%;
    padding: 0;
    background-color: transparent;
    text-align: center;
  }
}
@media screen and (min-width: 810px) {
  .navigation {
    width: 60%;
  }
}
.navigation__close {
  background-color: transparent;
  border: none;
  outline: none;
  height: 0;
  width: 0;
}

.navigation__close::before,
.navigation__close::after {
  position: absolute;
  top: 10px;
  left: 20px;
  transform: rotate(45deg);
  font-size: 20px;
  color: #fff;
  content: "|";
}

.navigation__close::after {
  left: 18px;
  transform: rotate(-45deg);
}

@media screen and (min-width: 640px) {
  .navigation__close::before,
.navigation__close::after {
    display: none;
  }
}
.navigation_open {
  left: 0;
}

.navigation__link {
  display: block;
  margin: 15px 0;
  text-decoration: none;
  color: #fff;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .navigation__link {
    display: inline-block;
    width: auto;
    margin: 4px 0;
    margin-right: 7%;
    color: #000;
  }
  .navigation__link:last-child {
    margin-right: 0;
  }
  .navigation__link:hover {
    color: #373ffa;
  }
}
.navigation__contacts {
  display: block;
  margin-top: auto;
}

@media screen and (min-width: 640px) {
  .navigation__contacts {
    display: none;
  }
}
.video {
  position: relative;
  display: block;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .video:hover .video__play {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .video::before, .video::after {
    position: absolute;
    top: -155px;
    left: -175px;
    width: 100%;
    height: 100%;
    transform: scale(0.3);
    background-image: url(/topseller/images/components/video//bgc-video-ced68e40d05772e52028a62251e84005.svg);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
  }
  .video::after {
    transform: scale(0.6);
    top: 150px;
    left: 110px;
  }
}
@media screen and (min-width: 540px) {
  .video {
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
    max-height: 570px;
  }
}
@media screen and (min-width: 900px) {
  .video {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 420px;
    max-height: 420px;
  }
}

.video_active .video__information,
.video_active .video__play {
  display: none;
}
.video_active .video__player {
  display: block;
  background: black;
}

.video__container {
  position: relative;
  display: block;
  width: 100%;
  background: linear-gradient(90deg, #D0F4FF -1.26%, #EDE1FF 104.19%);
  box-shadow: 0px 15px 30px rgba(65, 74, 85, 0.1);
  border-radius: 10px;
  aspect-ratio: 4/3;
  z-index: 1;
}

.video__player {
  display: none;
  width: 100%;
  height: 100%;
}

.video__play {
  position: absolute;
  top: calc(50% - 32.5px);
  left: calc(50% - 32.5px);
  height: 65px;
  width: 65px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  border: none;
}
.video__play::after {
  position: absolute;
  top: 18.5px;
  left: 26.5px;
  border-top: 15px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid white;
  content: "";
}
.video__play:hover {
  cursor: pointer;
}

.video p {
  margin: 0;
  margin-top: 4px;
  padding: 0;
}

.video__information {
  position: absolute;
  bottom: 9px;
  left: 9px;
  display: none;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  height: 59px;
  margin-left: 9px;
  margin-bottom: 11px;
  padding-left: 11px;
  padding-top: 8px;
  padding-bottom: 11px;
  padding-right: 11px;
  color: white;
  font-weight: bold;
}
@media screen and (min-width: 375px) {
  .video__information {
    display: block;
  }
}
@media screen and (min-width: 425px) {
  .video__information {
    width: auto;
  }
}

.video__name {
  font-size: 16px;
}

.video__time {
  font-size: 12px;
}
.description {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .description {
    flex-direction: row-reverse;
  }
}
.marketplaces {
  position: relative;
}
@media screen and (min-width: 540px) {
  .marketplaces {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 900px) {
  .marketplaces {
    margin-bottom: 0;
    margin-left: 0;
  }
}

.marketplaces__icons {
  text-align: center;
}
@media screen and (min-width: 540px) {
  .marketplaces__icons {
    position: absolute;
    top: 55px;
    left: 330px;
  }
}
@media screen and (min-width: 900px) {
  .marketplaces__icons {
    top: -5px;
    left: 110px;
    margin-bottom: 0;
  }
}

.marketplaces__title {
  margin: 0;
  margin-top: 33px;
  padding: 0;
  font-size: 24px;
  text-align: center;
}
.marketplaces__title div {
  font-size: 20px;
  margin-top: 10px;
}
.marketplaces__title div span {
  color: #4CCEAC;
}
@media screen and (min-width: 375px) {
  .marketplaces__title {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  .marketplaces__title {
    width: 100%;
    text-align: left;
    font-size: 52px;
  }
  .marketplaces__title div {
    width: 400px;
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .marketplaces__title {
    width: 40%;
  }
}

.marketplaces__text {
  margin-top: 20px;
  margin-bottom: 32px;
}
@media screen and (min-width: 900px) {
  .marketplaces__text {
    width: 70%;
  }
}

@media screen and (min-width: 540px) {
  .marketplaces__button {
    display: inline-block !important;
    width: 240px !important;
  }
}

.marketpaces__price {
  display: block;
  width: 93px;
  margin: 32px auto;
  padding-bottom: 5px;
  color: #258AFF;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px dashed #258AFF;
}
@media screen and (min-width: 540px) {
  .marketpaces__price {
    display: inline-block;
    margin-left: 100px;
  }
}
@media screen and (min-width: 900px) {
  .marketpaces__price {
    margin-left: 75px;
  }
}
.marketplaces-icons {
  margin: 57px auto 0 auto;
}

.marketplaces-icon {
  margin-right: 12.5px;
}
.marketplaces-icon:first-child {
  margin-right: 8px;
  margin-left: -8px;
}
.marketplaces-icon:last-child {
  margin-right: 0;
}
.button {
  display: block;
  width: 100%;
  height: 65px;
  background-color: #696FFB;
  text-align: center;
  vertical-align: middle;
  color: white;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  font-family: "Gilroy";
  text-decoration: none;
  padding: 20px 0;
}
.statistics {
  box-shadow: 0px 25px 50px rgba(65, 74, 85, 0.1);
}

.statistics__container {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 900px) {
  .statistics__container {
    padding-top: 51px;
    padding-bottom: 88px;
  }
}
@media screen and (min-width: 1024px) {
  .statistics__container {
    flex-wrap: nowrap;
    margin-top: 32px;
    justify-content: center;
  }
}
@media screen and (min-width: 1100px) {
  .statistics__container {
    margin-top: 104px;
  }
}

.statistics__cell {
  width: 47%;
  text-align: center;
}
.statistics__cell:nth-child(1), .statistics__cell:nth-child(3) {
  margin-right: 6%;
}
@media screen and (min-width: 900px) {
  .statistics__cell {
    width: 23%;
    text-align: left;
    margin-right: 2%;
  }
  .statistics__cell:nth-child(1), .statistics__cell:nth-child(3) {
    margin-right: 2%;
  }
  .statistics__cell:last-child {
    margin-right: 0;
  }
}

.statistics__number {
  position: relative;
  padding-bottom: 8px;
  line-height: 70px;
  font-size: 50px;
  font-weight: bold;
}
.statistics__number::after, .statistics__number::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 52.5px;
  height: 2px;
  background-color: #4CCEAC;
  content: "";
}
.statistics__number::before {
  transform: translateX(-52px);
}
@media screen and (min-width: 900px) {
  .statistics__number {
    font-size: 70px;
  }
  .statistics__number::after, .statistics__number::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 105px;
    height: 2px;
    background-color: #4CCEAC;
    content: "";
  }
  .statistics__number::before {
    display: none;
  }
}

.statistics__text {
  line-height: 28px;
  font-weight: 500;
  font-size: 14px;
}
@media screen and (min-width: 900px) {
  .statistics__text {
    font-size: 16px;
    margin-top: 24px;
  }
}
.updates {
  margin: 0;
  background-color: #F5FAFD;
  position: relative;
  padding-top: 10%;
  padding-bottom: 20%;
  overflow: scroll;
}
@media screen and (min-width: 820px) {
  .updates {
    overflow: visible;
  }
}
@media screen and (min-width: 1024px) {
  .updates {
    margin-top: -20px;
  }
}

.updates__container {
  position: relative;
}

.updates__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.updates__title {
  margin: 0;
  font-size: 20px;
}
@media screen and (min-width: 1024px) {
  .updates__title {
    font-size: 40px;
    font-weight: 600;
  }
}
@media screen and (min-width: 1200px) {
  .updates__title {
    font-size: 58px;
  }
}

.updates__buttons {
  position: sticky;
  margin-top: 5px;
  width: 55px;
}
@media screen and (min-width: 375px) {
  .updates__buttons {
    width: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .updates__buttons {
    display: none;
  }
}

.updates__button {
  position: absolute;
  top: 0;
  background-color: transparent;
  border: none;
}

.updates__button_right {
  top: -3px;
  right: 0;
  transform: rotate(180deg);
}

.updates__link {
  position: absolute;
  bottom: 0;
  left: 0;
  vertical-align: middle;
  color: #258AFF;
  text-decoration: none;
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
  .updates__link {
    position: relative;
    margin: auto 0;
  }
}

.updates__line {
  width: 768px;
  height: 1px;
  background-color: #258AFF;
}
@media screen and (min-width: 900px) {
  .updates__line {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .updates__line {
    width: 1011px;
  }
}

.updates__cells {
  display: inline-flex;
}

.updates__cell {
  position: relative;
  margin-right: 24px;
  margin-bottom: 55px;
}
.updates__cell::after {
  position: absolute;
  bottom: -8%;
  left: -24px;
  width: 106px;
  height: 128px;
  background-image: url(/topseller/images/components/updates//bg-46aa85a8526c82074b54c4ded00f3f6b.png);
  background-size: auto;
  background-repeat: no-repeat;
  content: "";
}
@media screen and (min-width: 1024px) {
  .updates__cell::after {
    left: auto;
    right: -24px;
  }
}
@media screen and (min-width: 1170px) {
  .updates__cell {
    margin-bottom: 0;
  }
  .updates__cell::after {
    bottom: -25%;
  }
}

.updates__wrapper {
  position: relative;
  top: -22px;
  left: 7px;
  width: 44px;
  height: 44px;
  background-color: #F5FAFD;
  border-radius: 50%;
  border: 1px solid #258AFF;
  z-index: 1;
}
.updates__wrapper::before {
  position: absolute;
  top: 42px;
  left: 20.5px;
  background-color: #258AFF;
  height: 49px;
  width: 1px;
  content: "";
}

.updates__status {
  margin: auto;
  margin-top: 9px;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(14, 86, 124, 0.165308);
}

.updates__status svg {
  margin-top: 6px;
}

.updates__info {
  position: relative;
  margin-top: 26px;
  width: 100%;
  min-width: 228px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 32px 84px rgba(14, 86, 124, 0.165308);
  border-radius: 4px;
  z-index: 1;
}

.updates__heading {
  line-height: 32px;
  margin-bottom: 8px;
}

.updates__text {
  font-size: 12px;
  line-height: 150%;
  color: #7C8087;
}

.updates__date {
  color: #8C97AC;
  font-weight: 600;
  font-size: 13px;
  vertical-align: top;
  margin-left: 12px;
}

.updates__date_soon {
  color: #FF2B99;
}

.updates__keywords {
  margin-top: 16px;
}

.updates__keyword {
  margin-right: 8px;
  padding: 4px;
  background-color: #E9F7FE;
  border-radius: 4px;
  color: #80A4FF;
  font-size: 10px;
}
.updates__keyword:last-child {
  margin-right: 0;
}
.consultation {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .consultation {
    flex-direction: row;
    justify-content: center;
    padding: 5% 0;
  }
}

@media screen and (min-width: 768px) {
  .consultation_reverse {
    flex-direction: row-reverse;
  }
  .consultation_reverse .consultation__content {
    margin-left: 50px;
  }
  .consultation_reverse .consultation__text {
    width: 70%;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .consultation_reverse .consultation__icons {
    margin-left: 15%;
    margin-right: 0;
  }
}
@media screen and (min-width: 1024px) {
  .consultation_reverse {
    flex-direction: row-reverse;
  }
  .consultation_reverse .consultation__content {
    margin-left: 0;
  }
  .consultation_reverse .consultation__text {
    width: auto;
  }
}

.consultation__icons {
  width: 300px;
  position: relative;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 14.94%;
  margin-bottom: 136px;
}
@media screen and (min-width: 768px) {
  .consultation__icons {
    margin-top: auto;
    margin-right: 0;
    margin-left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .consultation__icons {
    width: 350px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .consultation__icons {
    margin-right: 15%;
  }
}

.consultation__icons::before,
.consultation__icons::after {
  position: absolute;
  top: 150px;
  left: 30px;
  width: 67px;
  height: 56px;
  background-image: url(/topseller/images/components/consultation//bg-46aa85a8526c82074b54c4ded00f3f6b.png);
  background-repeat: no-repeat;
  background-size: 130px;
  background-position: 1px;
  content: "";
}
@media screen and (min-width: 1024px) {
  .consultation__icons::before,
.consultation__icons::after {
    top: 180px;
    left: 0px;
    width: 128px;
    height: 112px;
  }
}

.consultation__icons::after {
  top: 33px;
  left: 185px;
  width: 40px;
  height: 40px;
  background-size: 130px;
  background-position: 0px 1px;
}
@media screen and (min-width: 1024px) {
  .consultation__icons::after {
    top: 45px;
    left: 250px;
    width: 72px;
    height: 60px;
    background-size: 120px;
  }
}

.consultation__question,
.consultation__answer {
  display: inline-block;
  font-size: 50px;
  background-color: #fff;
  color: #7C8087;
  font-weight: bold;
  padding: 25px 40px;
  box-shadow: 0px 32px 84px rgba(14, 86, 124, 0.165308);
  border-radius: 0px 8px 8px 8px;
}
@media screen and (min-width: 1024px) {
  .consultation__question,
.consultation__answer {
    font-size: 72px;
    padding: 48px 60px;
    line-height: 60px;
  }
}

.consultation__answer {
  position: relative;
  top: 90px;
  left: -21px;
  padding: 25px 47px;
  z-index: 1;
  border-radius: 8px 8px 0px 8px;
}
@media screen and (min-width: 1024px) {
  .consultation__answer {
    top: 130px;
    padding: 48px 75px;
    line-height: 60px;
    font-size: 72px;
  }
}

.consultation__content {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .consultation__content {
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .consultation__content {
    width: 445px;
  }
}

.consultation__title {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .consultation__title {
    font-size: 32px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .consultation__title {
    font-size: 58px;
  }
}

.consultation__text {
  margin-bottom: 48px;
}
@media screen and (min-width: 850px) {
  .consultation__text {
    width: 390px;
  }
}
@media screen and (min-width: 1024px) {
  .consultation__text {
    font-size: 18px;
  }
}

.consultation__button {
  margin-bottom: 14.93333%;
  box-shadow: 0px 32px 84px rgba(0, 0, 0, 0.21725);
}
@media screen and (min-width: 768px) {
  .consultation__button {
    margin: 0;
    width: 251px;
  }
}
.possibilities {
  position: relative;
  background-color: #F5FAFD;
  padding: 56px 0 0 0;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .possibilities {
    padding: 56px 0;
    background-image: url(/topseller/images/components/possibilities//bg-4f9fb660b8d7a946b0ecbc9a98ed57c1.png);
    background-position: top 90% left 0;
    background-repeat: no-repeat;
  }
}

.possibilities__wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .possibilities__wrapper {
    flex-direction: row-reverse;
  }
}

.possibilities__title {
  margin-top: 0;
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .possibilities__title {
    font-size: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .possibilities__title {
    font-size: 58px;
  }
}

.possibilities__container {
  border-radius: 8px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .possibilities__container {
    position: absolute;
    top: 10%;
    right: 0;
    width: 45%;
    border-radius: 0;
  }
}
@media screen and (min-width: 1200px) {
  .possibilities__container {
    top: 0;
    width: 50%;
  }
}
@media screen and (min-width: 1250px) {
  .possibilities__container {
    width: 53.5%;
  }
}

.possibilities__image {
  width: 100%;
  margin: auto;
}

.possibilities__image_pc {
  display: none;
}
@media screen and (min-width: 1024px) {
  .possibilities__image_pc {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .possibilities__image_mob {
    display: none;
  }
}

.possibilities__list {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 160%;
  margin-bottom: 0;
  margin-left: -60px;
  padding-left: 60px;
  padding-top: 32px;
  padding-bottom: 56px;
  list-style: none;
  overflow-x: scroll;
  color: #1D293F;
}
@media screen and (min-width: 1024px) {
  .possibilities__list {
    flex-direction: column;
    margin: 0;
    padding: 3.4% 0;
    overflow-x: visible;
  }
}

.possibilities__item {
  min-width: 261px;
  padding: 16px;
  background-color: #fff;
  margin-right: 16px;
  border-radius: 5px;
}
.possibilities__item:nth-child(3) {
  order: -1;
}
@media screen and (min-width: 1024px) {
  .possibilities__item:nth-child(3) {
    order: 0;
  }
}
@media screen and (min-width: 1024px) {
  .possibilities__item {
    margin-bottom: 32px;
    margin-right: 0;
  }
  .possibilities__item:last-child {
    margin-bottom: 0;
  }
}

.possibilities__item_open {
  box-shadow: 0px 32px 84px rgba(14, 86, 124, 0.165308);
  max-width: 234px;
}
@media screen and (min-width: 1024px) {
  .possibilities__item_open {
    min-width: 40%;
  }
}

.possibilities__button {
  width: 100%;
  padding: 0;
  border: none;
  background-color: #fff;
  text-align: left;
  font-size: 18px;
  font-family: "Gilroy";
  font-weight: 600;
  cursor: pointer;
}

.possibilities__text {
  display: none;
}

.possibilities__text_open {
  display: block;
}
.advantages {
  padding: 56px 0;
  overflow: hidden;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 425px) {
  .advantages__title {
    font-size: 28px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .advantages__title {
    font-size: 58px;
  }
}

.advantages__title_3 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 21px;
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: calc(100vw - 4%);
  overflow-x: scroll;
  margin-bottom: 80px;
}
.advantages__wrapper:last-child {
  justify-content: flex-start;
  margin-bottom: 0;
}
@media screen and (min-width: 1320px) {
  .advantages__wrapper:last-child .advantages__container {
    margin-left: 35px;
  }
}
@media screen and (min-width: 800px) {
  .advantages__wrapper {
    width: 100%;
    overflow-x: visible;
  }
}

.advantages__title_large {
  position: relative;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
  .advantages__title_large::after {
    position: absolute;
    top: 15px;
    right: 32px;
    width: 45px;
    height: 20px;
    background-image: url(/topseller/images/components/advantages//arrow-c00070a4c4bfedd1dfdc238a78fdd7a3.png);
    background-repeat: no-repeat;
    content: "";
  }
}

.advantages__title_mob {
  display: block;
}
@media screen and (min-width: 1024px) {
  .advantages__title_mob {
    display: none;
  }
}

.advantages__title_desk {
  display: none;
}
@media screen and (min-width: 1024px) {
  .advantages__title_desk {
    display: block;
    align-self: center;
    padding-right: 109px;
  }
}

.advantages__container {
  min-width: 240px;
  margin-right: 16px;
}
.advantages__container:last-child {
  margin-right: 0;
}

.advantages__icon {
  display: inline-block;
  padding: 23px;
  border: 1px solid #E2E4E8;
  border-radius: 10px;
}

.advantages__text {
  max-width: 240px;
  margin: 0;
}
.acceleration {
  position: relative;
  background-color: #F5FAFD;
  padding: 56px 0 0 0;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .acceleration {
    padding: 56px 0;
    background-image: url(/topseller/images/components/acceleration//bg-fa8c70ed80d81cab1d613a2ce9371569.png);
    background-position: top 65% right 0;
    background-repeat: no-repeat;
  }
}

.acceleration__wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .acceleration__wrapper {
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 130px;
  }
}

.acceleration__title {
  margin-top: 0;
  margin-bottom: 32px;
  width: 100%;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .acceleration__title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .acceleration__title {
    font-size: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .acceleration__title {
    font-size: 58px;
  }
}

.acceleration__title_desk {
  display: none;
}
@media screen and (min-width: 1024px) {
  .acceleration__title_desk {
    display: block;
  }
}

.acceleration__title_mob {
  display: block;
}
@media screen and (min-width: 1024px) {
  .acceleration__title_mob {
    display: none;
  }
}

.acceleration__container {
  border-radius: 8px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .acceleration__container {
    position: absolute;
    top: 10%;
    left: 0;
    width: 45%;
    border-radius: 0;
  }
}
@media screen and (min-width: 1200px) {
  .acceleration__container {
    top: 0;
    width: 50%;
  }
}
@media screen and (min-width: 1250px) {
  .acceleration__container {
    width: 53.5%;
  }
}

.acceleration__image {
  width: 100%;
  margin: auto;
}

.acceleration__image_pc {
  display: none;
}
@media screen and (min-width: 1024px) {
  .acceleration__image_pc {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .acceleration__image_mob {
    display: none;
  }
}

.acceleration__list {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 160%;
  margin-bottom: 0;
  margin-left: -60px;
  padding-left: 60px;
  padding-top: 32px;
  padding-bottom: 56px;
  list-style: none;
  overflow-x: scroll;
  color: #1D293F;
}
@media screen and (min-width: 1024px) {
  .acceleration__list {
    flex-direction: column;
    width: 261px;
    margin: 0;
    padding: 3.4% 0;
    overflow-x: visible;
  }
}

.acceleration__item {
  min-width: 261px;
  padding: 16px;
  background-color: #fff;
  margin-right: 16px;
  border-radius: 5px;
}
@media screen and (min-width: 1024px) {
  .acceleration__item {
    margin-bottom: 32px;
    margin-right: 0;
  }
  .acceleration__item:last-child {
    margin-bottom: 0;
  }
}

.acceleration__item_open {
  box-shadow: 0px 32px 84px rgba(14, 86, 124, 0.165308);
  max-width: 234px;
}
@media screen and (min-width: 1024px) {
  .acceleration__item_open {
    min-width: 170%;
  }
}

.acceleration__button {
  width: 100%;
  padding: 0;
  border: none;
  background-color: #fff;
  text-align: left;
  font-size: 18px;
  font-family: "Gilroy";
  font-weight: 600;
  cursor: pointer;
}

.acceleration__text {
  display: none;
}

.acceleration__text_open {
  display: block;
}
@charset "UTF-8";
.dropshipping {
  background-color: #E9F7FE;
  padding: 56px 0;
}
@media screen and (min-width: 1024px) {
  .dropshipping {
    padding: 125px 0;
  }
}

.dropshipping__title,
.dropshipping__text {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .dropshipping__title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1024px) {
  .dropshipping__title {
    margin: 0;
    font-weight: 600;
    font-size: 58px;
    margin-bottom: 24px;
  }
}

.dropshipping__text {
  font-size: 14px;
  color: #7C8087;
}
@media screen and (min-width: 1024px) {
  .dropshipping__text {
    width: 628px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.dropshipping__container {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .dropshipping__container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 213px;
  }
}

.dropshipping__numbers {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 82px;
}
@media screen and (min-width: 1024px) {
  .dropshipping__numbers {
    flex-direction: column;
    margin-top: 0;
  }
}
.dropshipping__numbers::before {
  position: absolute;
  top: -61px;
  color: #7C8087;
  line-height: 34px;
  font-weight: 500;
  content: "Поставщики";
}
@media screen and (min-width: 1024px) {
  .dropshipping__numbers::before {
    left: -10px;
    top: -100px;
  }
}

@media screen and (min-width: 1024px) {
  .dropshipping__numbers::after,
.dropshipping__leftovers::before,
.dropshipping__leftovers:nth-last-child(2):before,
.dropshipping__multistore::before {
    position: absolute;
    top: -42px;
    left: 180px;
    width: 65px;
    color: #7C8087;
    font-size: 14px;
    font-weight: bold;
    transform: rotate(90deg);
    content: ". . . . . . . .";
  }

  .dropshipping__numbers::after {
    left: 5px;
  }

  .dropshipping__leftovers::before,
.dropshipping__leftovers:nth-last-child(2):before {
    top: -53px;
    left: -15px;
  }

  .dropshipping__multistore::before {
    top: -30px;
    left: 50px;
    content: ". . . . . . .";
  }
}
.dropshipping__number {
  position: relative;
  width: 65px;
  height: 65px;
  padding: 16px;
  margin-bottom: 188px;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(65, 74, 85, 0.1);
  border-radius: 5px;
  font-weight: 500;
  font-size: 21px;
  line-height: 34px;
}
@media screen and (min-width: 1024px) {
  .dropshipping__number {
    margin-bottom: 16px;
  }
  .dropshipping__number:last-child {
    margin-bottom: 0;
  }
}
.dropshipping__number::before {
  position: absolute;
  left: 45%;
  width: 10px;
  height: 163px;
  bottom: -176px;
  background-image: url(/topseller/images/components/dropshipping//arrow-ae4813a9ff7d8e9d07a884872cc2042d.png);
  background-repeat: no-repeat;
  content: "";
}
@media screen and (min-width: 1024px) {
  .dropshipping__number::before {
    left: 150px;
    top: -50px;
    transform: rotate(-90deg);
  }
}

.dropshipping__leftovers {
  position: absolute;
  top: 220px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  background-color: #fff;
  color: #7C8087;
  box-shadow: 0px 10px 20px rgba(65, 74, 85, 0.1);
  border-radius: 5px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .dropshipping__leftovers {
    position: relative;
    top: 0;
    width: 28px;
    height: 312px;
    margin-right: 73px;
    margin-left: 77px;
    font-size: 0;
    z-index: 1;
  }
  .dropshipping__leftovers::after {
    position: absolute;
    top: -98px;
    left: -18px;
    width: 50px;
    height: 50px;
    font-size: 16px;
    color: #898d93;
    content: "Остатки";
  }
}
.dropshipping__leftovers:nth-last-child(2) {
  top: 640px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .dropshipping__leftovers:nth-last-child(2) {
    top: 660px;
  }
}
@media screen and (min-width: 1024px) {
  .dropshipping__leftovers:nth-last-child(2) {
    top: 0px;
  }
  .dropshipping__leftovers:nth-last-child(2)::after {
    position: absolute;
    top: -98px;
    left: -18px;
    width: 50px;
    height: 50px;
    font-size: 16px;
    color: #898d93;
    content: "Остатки";
  }
}

.dropshipping__multistore {
  position: relative;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(65, 74, 85, 0.1);
  border-radius: 5px;
}
@media screen and (min-width: 1024px) {
  .dropshipping__multistore {
    min-width: 159px;
    padding: 0 16px;
  }
}

.dropshipping__container-text {
  margin-bottom: 32px;
  color: #7C8087;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .dropshipping__container-text {
    position: absolute;
    top: -120px;
    left: -30px;
  }
}

.dropshipping__container-text p {
  margin: 0;
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  .dropshipping__container-text p {
    width: 120%;
  }
}

.dropshipping__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 1024px) {
  .dropshipping__list {
    flex-direction: column;
  }
}

.dropshipping__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0;
  padding-top: 8px;
  margin-bottom: 32px;
}
.dropshipping__item:nth-child(3), .dropshipping__item:nth-child(4) {
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .dropshipping__item {
    padding-top: 0;
    margin-bottom: 32px;
    width: 100%;
  }
  .dropshipping__item:nth-child(3), .dropshipping__item:nth-child(4) {
    margin-bottom: 32px;
  }
  .dropshipping__item:last-child {
    margin-bottom: 0;
  }
}

.dropshipping__item_desk {
  display: none;
}
@media screen and (min-width: 1024px) {
  .dropshipping__item_desk {
    display: block;
  }
}

.dropshipping__box {
  display: block;
  width: 70%;
  height: 4px;
  margin-bottom: 4px;
  border-radius: 2px;
  background-color: #E9F7FE;
}
.dropshipping__box:last-of-type {
  width: 45%;
}
@media screen and (min-width: 768px) {
  .dropshipping__box {
    height: 8px;
  }
}

.dropshipping__num {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 12px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .dropshipping__num {
    top: 10px;
    right: 35px;
  }
}
@media screen and (min-width: 1024px) {
  .dropshipping__num {
    right: 0;
    top: 0;
    font-size: 16px;
  }
}

.dropshipping__marketplaces {
  position: relative;
}

.dropshipping__marketplaces-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 188px;
}
@media screen and (min-width: 1024px) {
  .dropshipping__marketplaces-icons {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
  }
}
.dropshipping__marketplaces-icons .marketplaces-icon {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .dropshipping__marketplaces-icons .marketplaces-icon {
    margin-bottom: 38px;
  }
  .dropshipping__marketplaces-icons .marketplaces-icon:first-child {
    margin-bottom: 0;
  }
}
.dropshipping__marketplaces-icons .marketplaces-icon::before {
  position: absolute;
  top: -176px;
  left: 41%;
  width: 10px;
  height: 163px;
  background-image: url(/topseller/images/components/dropshipping//arrow-ae4813a9ff7d8e9d07a884872cc2042d.png);
  background-repeat: no-repeat;
  transform: rotate(180deg);
  content: "";
}
@media screen and (min-width: 1024px) {
  .dropshipping__marketplaces-icons .marketplaces-icon::before {
    transform: rotate(90deg);
    top: -42px;
    left: -95px;
  }
}
.dropshipping__marketplaces-icons .marketplaces-icon_wildberries {
  order: 10;
  margin-left: 7px;
}
@media screen and (min-width: 1024px) {
  .dropshipping__marketplaces-icons .marketplaces-icon_wildberries {
    margin-left: 0;
  }
}
.analytics {
  position: relative;
  background-color: #F5FAFD;
  padding: 56px 0 0 0;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .analytics {
    padding: 56px 0;
    background-image: url(/topseller/images/components/analytics//bg-fa8c70ed80d81cab1d613a2ce9371569.png);
    background-position: top 90% left 0;
    background-repeat: no-repeat;
  }
}

.analytics__wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .analytics__wrapper {
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
}

.analytics__title {
  margin-top: 0;
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .analytics__title {
    width: 30%;
    font-size: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .analytics__title {
    font-size: 58px;
  }
}

.analytics__container {
  border-radius: 8px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .analytics__container {
    position: absolute;
    top: 10%;
    right: 0;
    width: 45%;
    border-radius: 0;
  }
}
@media screen and (min-width: 1200px) {
  .analytics__container {
    top: 0;
    width: 50%;
  }
}
@media screen and (min-width: 1250px) {
  .analytics__container {
    width: 53.5%;
  }
}

.analytics__image {
  width: 100%;
  margin: auto;
}

.analytics__image_pc {
  display: none;
}
@media screen and (min-width: 1024px) {
  .analytics__image_pc {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .analytics__image_mob {
    display: none;
  }
}

.analytics__list {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 135vw;
  margin-bottom: 0;
  margin-left: -40px;
  padding-left: 40px;
  padding-top: 32px;
  padding-bottom: 56px;
  list-style: none;
  overflow-x: scroll;
  color: #1D293F;
}
@media screen and (min-width: 1024px) {
  .analytics__list {
    flex-direction: column;
    width: 90%;
    height: 370px;
    margin: 0;
    margin-left: -100px;
    padding: 2.2% 0;
    overflow-x: visible;
    overflow-y: hidden;
  }
}

.analytics__item {
  min-width: 261px;
  padding: 16px;
  background-color: #fff;
  margin-right: 16px;
  border-radius: 5px;
  transition: margin 0.5s ease;
}
@media screen and (min-width: 1024px) {
  .analytics__item {
    margin-left: 100px;
  }
}
.analytics__item:nth-child(3) {
  order: -1;
}
@media screen and (min-width: 1024px) {
  .analytics__item:nth-child(3) {
    order: 0;
  }
}
@media screen and (min-width: 1024px) {
  .analytics__item {
    margin-bottom: 32px;
    margin-right: 0;
  }
  .analytics__item:last-child {
    margin-bottom: 0;
  }
}

.analytics__item_open {
  box-shadow: 0px 10px 40px 1px rgba(14, 86, 124, 0.1);
  max-width: 234px;
}
@media screen and (min-width: 1024px) {
  .analytics__item_open {
    min-width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .analytics__item_open {
    min-width: 40%;
  }
}

.analytics__button {
  width: 100%;
  padding: 0;
  border: none;
  background-color: #fff;
  text-align: left;
  font-size: 18px;
  font-family: "Gilroy";
  font-weight: 600;
  cursor: pointer;
}

.analytics__text {
  display: none;
}

.analytics__text_open {
  display: block;
}

.analytics__buttons {
  position: absolute;
  bottom: 30px;
  left: 170px;
  display: none;
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  .analytics__buttons {
    display: block;
  }
}

.analytics__button-arrow {
  border: none;
  background-color: #F5FAFD;
  transform: rotate(90deg);
  cursor: pointer;
}
.analytics__button-arrow:last-child {
  left: 30px;
  margin-left: 41px;
  transform: rotate(-90deg);
}
.reviews {
  background-color: #E9F7FE;
  padding: 56px 0;
  overflow-x: hidden;
}

.reviews__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.reviews__header {
  display: flex;
  justify-content: space-between;
}

.reviews__buttons {
  display: none;
}
@media screen and (min-width: 1024px) {
  .reviews__buttons {
    display: flex;
    align-items: center;
  }
}

.reviews__button {
  cursor: pointer;
}
.reviews__button:last-child {
  margin-left: 42px;
  transform: rotate(180deg);
  margin-top: -8px;
}

.reviews__list {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  margin-left: -6.6%;
  padding-left: 6.6%;
  overflow-x: scroll;
  transition: margin 0.5s ease;
}
@media screen and (min-width: 1024px) {
  .reviews__list {
    overflow-x: visible;
  }
}

.reviews__item {
  list-style-type: none;
  width: 160%;
  min-width: 258px;
  padding: 27px;
  margin-right: 16px;
  background-color: #fff;
  border-radius: 10px;
}

.reviews__pages {
  position: relative;
  bottom: -15px;
  left: 0;
  display: flex;
  width: 100px;
  height: 3px;
  background-color: #E2E4E8;
}
@media screen and (min-width: 1024px) {
  .reviews__pages {
    background-color: transparent;
    width: 188px;
  }
}

.reviews__slider {
  position: absolute;
  width: 29px;
  height: 3px;
  background-color: #0F53FA;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .reviews__slider {
    display: none;
  }
}

.reviews__page {
  display: none;
  width: 29px;
  height: 3px;
  margin-right: 16px;
  border-radius: 2px;
  background-color: #E2E4E8;
}
@media screen and (min-width: 1024px) {
  .reviews__page {
    display: block;
    transition: all 0.5s ease;
  }
}

.reviews__page_current {
  background-color: #0F53FA;
}
