*, *::after, *::before {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    font-family: "Gilroy", sans-serif;
    color: black;
    background-color: #fff;
}
.positioner {
    width: 88%;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .positioner {
        width: 75%;
        margin: 0 auto;
    }
}

