$black: #000;
$white: #fff;
$blue: #696FFB;

.navigation {
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 220px;
    padding: 60px 10% 0 20px;
    background-color: $blue;
    transition: left 0.5s ease; 
}

@media screen and (min-width: 640px) {
    .navigation {
        position: relative;
        left: 0;
        display: inline-block;
        width: 80%;
        padding: 0;
        background-color: transparent;
        text-align: center;
    }
}

@media screen and (min-width: 810px) {
    .navigation {
        width: 60%;
    }
}

.navigation__close {
    background-color: transparent;
    border: none;
    outline: none;
    height: 0;
    width: 0;
}

.navigation__close::before,
.navigation__close::after {
    position: absolute;
    top: 10px;
    left: 20px;
    transform: rotate(45deg);
    font-size: 20px;
    color: $white;
    content: '|';
}

.navigation__close::after {
    left: 18px;
    transform: rotate(-45deg);
}

@media screen and (min-width: 640px) {
    .navigation__close::before,
    .navigation__close::after {
        display: none;
    }
}

.navigation_open {
    left: 0;
}

.navigation__link {
    display: block;
    margin: 15px 0;
    text-decoration: none;
    color: $white;
    width: 100%;
}

@media screen and (min-width: 640px) {
    .navigation__link {
        display: inline-block;
        width: auto;
        margin: 4px 0;
        margin-right: 7%;
        color: $black;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: darken($blue, 10%);
        }
    }
}

.navigation__contacts {
    display: block;
    margin-top: auto;
}

@media screen and (min-width: 640px) {
    .navigation__contacts {
        display: none;
    }
}