mixin navigation
    nav.navigation
        button.navigation__close
        a.navigation__link(href="#") Главная
        a.navigation__link(href="#") О сервисе
        a.navigation__link(href="#") Тарифы
        a.navigation__link(href="#") Контакты
        .navigation__contacts
            a.navigation__link.navigation__tel(href="tel:+7(495)409-9891") +7(495)409-9891
            a.navigation__link.navigation__email(href="mailto:info@topse11er.ru") info@topse11er.ru
            a.navigation__link.navigation__telegram(href="#") Telegram