$bgc: #F5FAFD;
$primary-color: #258AFF;

.updates {
    margin: 0;
    background-color: $bgc;
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
    overflow-x: hidden;

    @media screen and (min-width: 1200px) {
        padding-bottom: 14%;
    }
}

.updates__container {
    position: relative;
}

.updates__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 30px;
    }
}

.updates__cells-wrapper {
    width: 100vw;
    margin-left: -6.6%;
    margin-bottom: 0;
    padding-left: 6.6%;
    padding-top: 30px;
    padding-bottom: 20px;
    overflow-x: scroll;

    @media screen and (min-width: 820px) {
        overflow: visible;
    }

    @media screen and (min-width: 1024px) {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

.updates__buttons {
    position:sticky;
    margin-top: 5px;
    width: 55px;

    @media screen and (min-width: 375px) {
        width: 80px;
    }

    @media screen and (min-width: 1024px) {
        display: none;
    }
}

.updates__button {
    position: absolute;
    top: 0;
    background-color: transparent;
    border: none;
}

.updates__button_right {
    top: -3px;
    right: 0;
    transform: rotate(180deg);
}

.updates__link {
    position: absolute;
    bottom: 0;
    left: 0;
    vertical-align: middle;
    color: $primary-color;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }

    @media screen and (min-width: 1024px) {
        position: relative;
        margin: auto 0;
    }
}

.updates__line {
    width: 730px;
    height: 1px;
    background-color: $primary-color;

    @media screen and (min-width: 900px) {
        width: 100%;
    }
}

.updates__cells {
    display: inline-flex;
    margin: 0;
    list-style-type: none;
}