include ../positioner/positioner
include ../title/title
include ../svg-icon/svg-icon

mixin advantages
    section.advantages#advantages
        +positioner
            +title.advantages__title.advantages__title_main Преимущества
            h2.advantages__title.advantages__title_large fbo
            ul.advantages__container
                li.advantages__item
                    .advantages__icon
                        +svg-icon('advantage')
                    h3.advantages__title.advantages__title_3 Заголовок
                    p.advantages__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                li.advantages__item
                    .advantages__icon
                        +svg-icon('advantage')
                    h3.advantages__title.advantages__title_3 Заголовок
                    p.advantages__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                li.advantages__item
                    .advantages__icon
                        +svg-icon('advantage')
                    h3.advantages__title.advantages__title_3 Заголовок
                    p.advantages__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
            h2.advantages__title.advantages__title_large fbs
            ul.advantages__container
                li.advantages__item
                    .advantages__icon
                        +svg-icon('advantage')
                    h3.advantages__title.advantages__title_3 Заголовок
                    p.advantages__text Lorem ipsum dolor sit amet consectetur adipisicing elit.