include ../positioner/positioner
include ../svg-icon/svg-icon

mixin advantages
    section.advantages
        +positioner
            h2.advantages__title Преимущества
            h2.advantages__title.advantages__title_large.advantages__title_mob fbo
            .advantages__wrapper
                h2.advantages__title.advantages__title_large.advantages__title_desk fbo
                .advantages__container
                    .advantages__icon
                        +svg-icon('advantage')
                    h3.advantages__title.advantages__title_3 Заголовок
                    p.advantages__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                .advantages__container
                    .advantages__icon
                        +svg-icon('advantage')
                    h3.advantages__title.advantages__title_3 Заголовок
                    p.advantages__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                .advantages__container
                    .advantages__icon
                        +svg-icon('advantage')
                    h3.advantages__title.advantages__title_3 Заголовок
                    p.advantages__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
            h2.advantages__title.advantages__title_large.advantages__title_mob fbs
            .advantages__wrapper
                h2.advantages__title.advantages__title_large.advantages__title_desk fbs
                .advantages__container
                    .advantages__icon
                        +svg-icon('advantage')
                    h3.advantages__title.advantages__title_3 Заголовок
                    p.advantages__text Lorem ipsum dolor sit amet consectetur adipisicing elit.