.advantages {
    padding: 56px 0;
    overflow: hidden;

    @media screen and (min-width: 1200px) {
        padding: 88px 0;
    }

    .positioner {
        position: relative;
    }
}

.advantages__title {
    &:first-child {
        @media screen and (min-width: 1200px) {
            margin-bottom: 88px;
        }
    }
}

.advantages__title_large {
    text-transform: uppercase;

    @media screen and (min-width: 1024px) {
        font-size: 56px;
    }

    @media screen and (min-width: 1200px) {
        position: absolute;
        top: 170px;
        padding-right: 100px;

        &:last-of-type {
            top: 430px;
        }

        &::after {
            position: absolute;
            top: 40%;
            right: 15px;
            display: block;
            width: 51px;
            height: 20px;
            margin-right: 0;
            background-image: url(./arrow.png);
            background-repeat: no-repeat;
            background-position: 50% auto;
            background-size: contain;
            content: '';
        }
    }
}

.advantages__title_3 {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 21px;
}

.advantages__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100vw;
    margin-left: -6.6%;
    padding-left: 6.6%;
    overflow-x: scroll;
    margin-bottom: 80px;
    list-style-type: none;

    &:last-child {
        justify-content: flex-start;
        margin-bottom: 0;
    }

    @media screen and (min-width: 800px) {
        width: 100%;
        overflow-x: visible;
    }

    @media screen and (min-width: 1200px) {
        justify-content: flex-start;
        margin-left: 170px;
    }
}

.advantages__item {
    min-width: 240px;
    margin-right: 16px;

    &:last-child {
        margin-right: 0;
    }
}

.advantages__icon {
    display: inline-block;
    padding: 23px;
    border: 1px solid #E2E4E8;
    border-radius: 10px;
}

.advantages__text {
    max-width: 240px;
    margin: 0;
}