$bgc: #F5FAFD;
$text: #1D293F;

.analytics {
    position: relative;
    background-color: $bgc;
    padding: 56px 0;
    overflow: hidden;

    @media screen and (min-width: 1024px) {
        padding: 56px 0;
        background-image: url('./bg.png');
        background-position: top 90% left 0;
        background-repeat: no-repeat;
    }

    @media screen and (min-width: 1250px) {
        padding: 88px 0;
    }
}

.analytics__wrapper {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        justify-content: flex-end;
        flex-direction: row-reverse;
    }
}

.analytics__title {
    @media screen and (min-width: 1024px) {
        width: 30%;
    }
}

.analytics__container {
    border-radius: 8px;
    width: 100%;

    @media screen and (min-width: 1024px) {
        position: absolute;
        top: 7%;
        right: 0;
        width: 50%;
        border-radius: 0;
    }

    @media screen and (min-width: 1100px) {
        top: 0;
    }

    @media screen and (min-width: 1200px) {
        top: 0;
        width: 50%;
    }

    @media screen and (min-width: 1250px) {
        width: 53.5%;
    }
}

.analytics__image {
    width: 100%;
    margin: auto;
}

.analytics__image_pc {
    display: none;

    @media screen and (min-width: 1024px) {
        display: block;
    }
}

.analytics__image_mob {
    @media screen and (min-width: 1024px) {
        display: none;
    }
}

.analytics__list {
    @media screen and (min-width: 1024px) {
        min-width: 90%;
        max-height: 370px;
        padding: 2.2% 0;
        overflow-y: scroll;
    }
}

.analytics__item {
    min-width: 261px;
    max-width: 400px;
    margin-right: 16px;
    transition: margin 0.5s ease;

    details{
        padding: 16px;
        background-color: #fff;
        border-radius: 5px;
        &[open] {
            box-shadow: 0px 5px 40px rgba(14, 86, 124, 0.1);
            summary {
                margin-bottom: 10px;
            }
        }

        summary {
            list-style: none;
        }
    } 

    @media screen and (min-width: 1024px) {
        margin-left: 100px;
        margin-bottom: 32px;
        margin-right: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:nth-child(3) {
        order: -1;

        @media screen and (min-width: 1024px) {
            order: 0;
        }
    }
}

.analytics__button {
    width: 100%;
    padding: 0;
    border: none;
    background-color: #fff;
    text-align: left;
    font-size: 18px;
    font-family: 'Gilroy';
    font-weight: 600;
    cursor: pointer;
}

.analytics__text {
    display: none;
}

.analytics__text_open {
    display: block;
}

.analytics__buttons {
    position: absolute;
    bottom: 30px;
    display: none;
    margin-top: 20px;

    @media screen and (min-width: 1024px) {
        left: 4%;
        display: block;
        margin-left: 100px;
    }

    @media screen and (min-width: 1250px) {
        left: 6%;
        bottom: 50px;
    }
}

.analytics__button-arrow {
    border: none;
    background-color: $bgc;
    transform: rotate(90deg);
    cursor: pointer;

    &:last-child {
        left: 30px;
        margin-left: 41px;
        transform: rotate(-90deg);
    }
}