include ../positioner/positioner
include ../svg-icon/svg-icon

mixin analytics
    section.analytics
        +positioner
            h2.analytics__title Аналитика и финансы
            .analytics__wrapper
                .analytics__container
                    img(src="/img/possibilities.jpg", alt="Аналитика и финансы").analytics__image.analytics__image_pc
                    img(src="/img/posibilities.jpg", alt="Аналитика и финансы").analytics__image.analytics__image_mob
                ul.analytics__list
                    li.analytics__item
                        button.analytics__button Прибыли и убытки
                        p.analytics__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, reiciendis rem iure amet ducimus culpa eum a quo rerum ipsam, omnis dolore magnam quaerat quis saepe molestias maxime dicta pariatur.
                    li.analytics__item
                        button.analytics__button Рентабильность
                        p.analytics__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, reiciendis rem iure amet ducimus culpa eum a quo rerum ipsam, omnis dolore magnam quaerat quis saepe molestias maxime dicta pariatur.
                    li.analytics__item
                        button.analytics__button Маржинальность
                        p.analytics__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, reiciendis rem iure amet ducimus culpa eum a quo rerum ipsam, omnis dolore magnam quaerat quis saepe molestias maxime dicta pariatur.
                    li.analytics__item
                        button.analytics__button Обороты
                        p.analytics__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, reiciendis rem iure amet ducimus culpa eum a quo rerum ipsam, omnis dolore magnam quaerat quis saepe molestias maxime dicta pariatur.
                    li.analytics__item
                        button.analytics__button Прочее
                        p.analytics__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, reiciendis rem iure amet ducimus culpa eum a quo rerum ipsam, omnis dolore magnam quaerat quis saepe molestias maxime dicta pariatur.
                    .analytics__buttons
                        button.analytics__button-arrow.analytics__button-arrow_up
                            +svg-icon('arrow')
                        button.analytics__button-arrow.analytics__button-arrow_down
                            +svg-icon('arrow')