include ../positioner/positioner
include ../title/title
include ../accordion/accordion
include ../scroll/scroll

mixin acceleration
    section.acceleration
        +positioner
            .acceleration__wrapper
                +title.acceleration__title Ускорение операционных процессов
                picture.acceleration__container
                    source(srcset="/img/acceleration_desk.jpg", alt="ускорение операционных процессов" media="(min-width: 1024px)").acceleration__image
                    img(src="/img/acceleration_mob.jpg", alt="ускорение операционных процессов").acceleration__image
                +accordion([{title: 'Сборка заказов', text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, reiciendis rem iure amet ducimus culpa eum a quo rerum ipsam, omnis dolore magnam quaerat quis saepe molestias maxime dicta pariatur.'},
                {title: 'Резервы', text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, reiciendis rem iure amet ducimus culpa eum a quo rerum ipsam, omnis dolore magnam quaerat quis saepe molestias maxime dicta pariatur.'},
                {title: 'Смена статусов', text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, reiciendis rem iure amet ducimus culpa eum a quo rerum ipsam, omnis dolore magnam quaerat quis saepe molestias maxime dicta pariatur.'},
                {title: 'Умная лента стикеров', text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, reiciendis rem iure amet ducimus culpa eum a quo rerum ipsam, omnis dolore magnam quaerat quis saepe molestias maxime dicta pariatur.'}]).acceleration__list
                +scroll