$bgc: #F5FAFD;
$text: #1D293F;

.acceleration {
    position: relative;
    background-color: $bgc;
    padding: 56px 0;
    overflow: hidden;

    @media screen and (min-width: 1024px) {
        padding: 56px 0;
        background-image: url('./bg.png');
        background-position: top 65% right 0;
        background-repeat: no-repeat;
    }
}

.acceleration__wrapper {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        align-items: flex-end;
        justify-content: center;
    }
}

.acceleration__container {
    border-radius: 8px;
    width: 100%;

    @media screen and (min-width: 1024px) {
        position: absolute;
        left: 0;
        width: 45%;
        border-radius: 0;
    }

    @media screen and (min-width: 1200px) {
        top: 0;
        width: 50%;
    }

    @media screen and (min-width: 1250px) {
        width: 53.5%;
    }
}

.acceleration__image {
    width: 100%;
    margin: auto;
}

.acceleration__list {
    @media screen and (min-width: 1024px) {
        min-width: 261px;
        max-width: 400px;
    }
}

.acceleration__title {
    width: auto;

    @media screen and (min-width: 1024px) {
        max-width: 405px;
    }
}

.acceleration__button {
    width: 100%;
    padding: 0;
    border: none;
    background-color: #fff;
    text-align: left;
    font-size: 18px;
    font-family: 'Gilroy';
    font-weight: 600;
    cursor: pointer;
}

.acceleration__text {
    display: none;
}

.acceleration__text_open {
    display: block;
}