include ../positioner/positioner
include ../title/title

mixin acceleration
    section.acceleration
        +positioner
            +title('Ускорение операционных процессов').acceleration__title_mob
            .acceleration__wrapper
                .acceleration__container
                    img(src="/img/acceleration_desk.jpg", alt="ускорение операционных процессов").acceleration__image.acceleration__image_pc
                    img(src="/img/acceleration_mob.jpg", alt="ускорение операционных процессов").acceleration__image.acceleration__image_mob
                ul.acceleration__list
                    +title('Ускорение операционных процессов').acceleration__title_desk
                    li.acceleration__item
                        button.acceleration__button Сборка заказов
                        p.acceleration__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate nec sed nunc tortor molestie tortor, nunc nec viverra. Tellus consectetur sapien ut velit orci enim.
                    li.acceleration__item
                        button.acceleration__button Резервы
                        p.acceleration__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate nec sed nunc tortor molestie tortor, nunc nec viverra. Tellus consectetur sapien ut velit orci enim.
                    li.acceleration__item
                        button.acceleration__button Смена статусов
                        p.acceleration__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate nec sed nunc tortor molestie tortor, nunc nec viverra. Tellus consectetur sapien ut velit orci enim.
                    li.acceleration__item
                        button.acceleration__button Умная лента стикеров
                        p.acceleration__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate nec sed nunc tortor molestie tortor, nunc nec viverra. Tellus consectetur sapien ut velit orci enim.
                .acceleration__pages
                    .acceleration__slider